// Media Queries
@mobile-breakpoint  : 660px;
@desktop-breakpoint : 960px;

@mobile 	: ~"all and (max-width: @{mobile-breakpoint})"; 	// default
@non-mobile : ~"all and (min-width: @{mobile-breakpoint})"; 	// matching both @tablet and @desktop
@tablet 	: ~"all and (min-width: @{mobile-breakpoint}) and (max-width: @{desktop-breakpoint})";
@desktop 	: ~"all and (min-width: @{desktop-breakpoint})";
@portrait   : ~"all and (orientation: portrait)";
@landscape  : ~"all and (orientation: landscape)";

// Fonts
@import url('https://fonts.googleapis.com/css?family=Inconsolata:400,700');
@sans : -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Droid Sans", "Helvetica Neue", Arial, sans-serif;
@mono : "Andale Mono", "Monaco", "Lucida Console", "Menlo", "Consolas", "Roboto Mono", "Liberation Mono", monospace;
@font-sans : "Inconsolata", @mono;
@font-mono : @font-sans;

// Colurs
@color-bg           : #1a1718;
@color-bg-light     : lighten(@color-bg, 10%);
@color-bg-dark      : #000;
@color-fg           : #e0e1e4;
@color-fg-light     : #fff;
@color-fg-dark      : darken(@color-fg, 25%);
@color-alpha        : #25a8bf; // #05889f;
@color-alpha-light  : lighten(spin(@color-alpha, -20), 5%);
@color-alpha-dark   : darken(spin(@color-alpha, 10), 5%);
@color-beta         : #d06815; // #c05805;
@color-beta-light   : lighten(spin(@color-beta, 15), 5%);
@color-beta-dark    : darken(spin(@color-beta, -10), 5%);


// --------------------------------------------
// Colour Palette
[class^="c-"] {
    display: block;
    height: 24px;
    width: 24px;
    margin: 0px;
    background: #000;
    box-shadow:
        inset 0 0 0 1px #000
        ,0 0 0 1px rgba(255, 255, 255, .15);

    display: none;
}
.c-a0 { background: @color-alpha-light; }
.c-a1 { background: @color-alpha; }
.c-a2 { background: @color-alpha-dark; }

.c-b0 { background: @color-beta-light; }
.c-b1 { background: @color-beta; }
.c-b2 { background: @color-beta-dark; }

.c-c0 { background: @color-bg-light; }
.c-c1 { background: @color-bg; }
.c-c2 { background: @color-bg-dark; }

.c-d0 { background: @color-fg-light; }
.c-d1 { background: @color-fg; }
.c-d2 { background: @color-fg-dark; }




// --------------------------------------------
// Pseudo-Reset
html, body, h1, h2, h3, h4, p, ul, ol, li, dl, dd, dt, form, fieldset, hr {
    margin: 0;
    padding: 0;
}
li { list-style-type: none; }
article, aside, footer, header, main, menu, nav, section {
	display: block;
}
button, input, optgroup, select, textarea {
    font: inherit;
	color: inherit;
	margin: 0;
    padding: 0;
    text-transform: none;
}



// -----------------------

html {
    line-height: 1;
	text-size-adjust: 100%;
	box-sizing: border-box;
	font-size: 62.5%;
	tab-size: 4;
	word-break: break-word;
    cursor: default;
}
body {
    font-family: @font-sans;
    font-size: 1.6em;
    line-height: 1.6;
    background: @color-bg;
    color: @color-fg;
}
html, body {
	height: 100%;
	width: 100%;
    overflow: hidden;
}
*, *:before, *:after {
	box-sizing: inherit;
	background-repeat: no-repeat;
}
svg:not(:root) { overflow: hidden; }
template, [hidden] { display: none; }
hr { display: none; }

a {
    color: @color-alpha;
    text-decoration: none;
    background-color: transparent;
}
a:hover { color: @color-beta; }
a:active, a:hover { outline: 0; }

pre, code, kbd, samp {
	font-family: @font-mono;
	// font-size: .9em;
}



// pre {
// 	white-space: pre;
// 	white-space: pre-wrap;
// 	word-wrap: break-word;
// 	overflow: auto;
//
// 	> code {
// 		white-space: pre;
// 	}
// }



// -----------------------------------------
// Input range styling : input[type="range"]
@range-height : 12px;
@range-track-bg : @color-bg-light;
@range-track-active-bg : @color-bg-light;
@range-handler-bg : @color-alpha;
@range-handler-active-bg : @color-alpha-light;

.appears-like(@value) {
    -webkit-appearance: @value;
    -moz-appearance: @value;
    appearance: @value;
}
.appears-clean() {
    border: none;
    border-radius: 2px;
    box-shadow: none;
}
.range-input-reset() {
    .appears-like(none);
    .appears-clean()
}
.range-track() {
    height: @range-height;
    width: 100%;
    background: @range-track-bg;
    cursor: pointer;
    .range-input-reset();
}
.range-track-active() { background: @range-track-active-bg; }
.range-handler() {
    height: @range-height;
    width: @range-height;
    background: @range-handler-bg;
    cursor: pointer;
    .range-input-reset();
}
.range-handler-active() { background: @range-handler-active-bg; }

input[type="range"] {
    .range-input-reset();
    height: @range-height;
    background: @range-track-bg;

    // Slider / Track
    &::-webkit-slider-runnable-track { .range-track() }
    &::-moz-range-track { .range-track() }
    &::-ms-track { .range-track() }
    &::-ms-fill-lower,
    &::-ms-fill-upper {
        background: @range-track-bg;
        .appears-clean();
    }

    // Handler
    &::-webkit-slider-thumb { .range-handler() }
    &::-moz-range-thumb { .range-handler() }
    &::-ms-thumb { .range-handler() }

    &:focus { outline: none; }
    &:hover {

        &::-webkit-slider-runnable-track { .range-track-active() }
        &::-moz-range-track { .range-track-active() }
        &::-ms-fill-lower { .range-track-active() }
        &::-ms-fill-upper { .range-track-active() }

        &::-webkit-slider-thumb { .range-handler-active() }
        &::-moz-range-thumb { .range-handler-active() }
        &::-ms-thumb { .range-handler-active() }
    }

    // Normalizing...
    &::-moz-focus-outer { border: 0; }
}

// -----------------------------------------
// Input Button : button, input[type="button"], input[type="submit"] ...
button {
    display: inline-block;
    padding: 0 10px;
    background-color: @color-alpha;
    border: none;
    border-radius: 2px;
    color: fade(@color-fg-light, 80%);
    cursor: pointer;

    &[class^="btn-"] {
        background-repeat: no-repeat;
        background-size: 10px 10px;
        background-position: right 10px center;
        padding: 0 26px 0 10px;
    }
    &.btn-random { background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='%23fff' d='M505 359c9 9 9 25 0 34l-80 80c-15 15-41 4-41-17v-40h-59a12 12 0 0 1-9-4l-70-75 53-58 53 57h32v-40c0-21 26-32 41-17l80 80zM12 176h84l53 57 53-58-70-75a12 12 0 0 0-9-4H12c-7 0-12 5-12 12v56c0 7 5 12 12 12zm372 0v40c0 21 26 32 41 17l80-80c9-9 9-25 0-34l-80-80c-15-15-41-4-41 17v40h-59a12 12 0 0 0-9 4L96 336H12c-7 0-12 5-12 12v56c0 7 5 12 12 12h111c3 0 6-1 9-4l220-236h32z'/%3E%3C/svg%3E"); }
    &.btn-reset { background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='%23fff' d='M400 54a248 248 0 1 1-288 0c11-8 28-5 35 8l16 28c5 11 3 24-7 31a168 168 0 1 0 200 0c-10-7-13-21-7-31l16-28c7-13 23-16 35-8zM296 264V24c0-13-11-24-24-24h-32c-13 0-24 11-24 24v240c0 13 11 24 24 24h32c13 0 24-11 24-24z'/%3E%3C/svg%3E"); }

    &.btn-on, &.btn-off {
        background-size: 12px auto;
        background-position: right 8px center;
    }
    &.btn-on { background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 576 512'%3E%3Cpath fill='%23fff' d='M576 256c0 106-86 192-192 192H192a192 192 0 1 1 0-384h192c106 0 192 86 192 192zM384 128a128 128 0 1 0 0 256 128 128 0 0 0 0-256'/%3E%3C/svg%3E"); }
    &.btn-off { background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 576 512'%3E%3Cpath fill='%23fff' d='M384 64H192a192 192 0 1 0 0 384h192a192 192 0 1 0 0-384zM64 256a128 128 0 1 1 256 0 128 128 0 0 1-256 0zm320 128h-49c65-73 65-183 0-256h49a128 128 0 1 1 0 256z'/%3E%3C/svg%3E"); }

    &:hover {
        background-color: @color-beta;
        color: fade(@color-fg-light, 99%);
    }
}


// -----------------------------------------
// Input Checkbox : input[type="checkbox"] / (Within label with <strong> sibling)
label.checkboxed {
    position: relative;
    padding-left: 35px;
    cursor: pointer;

    input[type="checkbox"] { display: none; }
    input[type="checkbox"] + strong:before {
        content: '';
        display: block;
        width: 12px;
        height: 12px;
        background: transparent;
        border: solid @color-fg-dark 1px;
        position: absolute;
        left: 10px;
        top: 50%;
        margin-top: -6px;
        border-radius: 2px;
    }
    input[type="checkbox"]:checked + strong:before {
        background: @color-alpha;
        box-shadow: inset 0 0 0 2px #000;
    }
    &:hover input[type="checkbox"]:checked + strong:before { background: @color-alpha-light; }
}

// -----------------------

#app {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-size: 1.3rem;
    box-shadow: inset 0 4px 0 @color-alpha, inset 0 5px 0 #000;

    background-image:
        radial-gradient(circle farthest-side, fade(@color-alpha-dark, 50%), transparent),
        radial-gradient(farthest-corner at 10% 90%, fade(@color-alpha-light, 20%), transparent 80%);
    background-size:
        90vw 90vw,
        100% 100%;
    background-position:
        center center;
}

@aside-bg : rgba(0, 0, 0, .5);
@aside-width : 42rem;

header {
    z-index: 2;
    position: fixed;
    top: 0;
    right: 0;
    height: 100px;
    width: 100%;
    max-width: @aside-width;
    background: @aside-bg;
    padding: 2rem;
    box-shadow:
        inset 0 4px 0 @color-alpha,
        inset 0 5px 0 #000,
        0 2px 0 0 rgba(0, 0, 0, .5);

    border-bottom: dotted @color-alpha 1px;

    h1 {
        font-size: 2.2rem;
        font-weight: 700;
        letter-spacing: .1rem;
        line-height: 1;
        color: @color-fg-light;
        margin: 0 0 2px;
    }
    p { line-height: 1.4; }
}

aside {
    z-index: 1;
    position: fixed;
    top: 100px;
    right: 0;
    height: ~"calc(100% - 100px)";
    width: 100%;
    max-width: @aside-width;
    background: @aside-bg;
    overflow: auto;

    form {
        padding: 2rem;

        fieldset {
            border: none;

            > legend {
                // color: @color-fg-light;
                font-weight: 700;
            }

            > dl {
                dt {
                    margin: 1.5rem 0 .5rem 0;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    line-height: 30px;
                    background: @color-bg-dark;
                    border-radius: 3px;

                    > label { flex: 1 1 auto; }
                    > a {
                        flex: 0 0 auto;
                        display: block;
                        padding: 0 30px 0 16px;

                        background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='%23fff' d='M504 256a248 248 0 1 1-496 0 248 248 0 0 1 496 0zM263 90c-55 0-90 23-117 64-3 5-2 12 3 16l35 26c5 4 12 3 16-2 18-22 30-36 57-36 21 0 46 14 46 33 0 15-12 23-32 34-24 14-55 30-55 71v4c0 7 5 12 12 12h56c7 0 12-5 12-12v-1c0-29 83-30 83-107 0-58-60-102-116-102zm-7 248a46 46 0 1 0 0 92 46 46 0 0 0 0-92z'/%3E%3C/svg%3E");
                        background-position: right 12px center;
                        background-size: 10px;
                        background-repeat: no-repeat;
                    }
                }
                dd { padding: .2rem 0; }
                dd:not(.buttons) {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    label {
                        display: inline-block;
                        padding-left: 10px;
                        min-width: 16rem;
                        flex: 0 0 16rem;
                    }
                    input {
                        display: block;
                        width: 100%;
                        flex: 1 1 auto;
                    }
                    code {
                        display: inline-block;
                        text-align: right;
                        padding: 0 10px 0 0;
                        font-size: .9em;
                        flex: 0 0 5rem;
                        color: @color-fg-dark;
                    }
                }
                dd.buttons {
                    text-align: right;
                    padding: .5rem 5rem 0 16rem;
                }
            }

            > p {
                margin-top: 2rem;
            }
        }

        fieldset:last-child {
            margin: 3rem 0 0 0;
            p { margin: 1rem 0 0 0; }
        }
    }
}
main {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    #box {
        display: inline-block;
        height: 80vh;
        width: 80vh;
        background: fade(@color-bg-dark, 80%);
        box-shadow: inset 0 0 0 1px fade(@color-fg-light, 40%);
        padding: 1rem;

        ul li { display: inline-block; }

        @media @landscape {
            height: 80vh;
            width: 80vh;
        }
        @media @portrait {
            height: 80vw;
            width: 80vw;
        }
    }
}
article {
    display: none;
    max-width: 64rem;
    padding: 2vh;
}
footer { display: none; }
